/*
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap')
*/


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
}
#app {
    position: relative;
    text-align: center;
}
.spinboy {

    width: 300px; /* Adjust size as needed */
    height: auto;
}
.bubble {
    position: absolute;
    top:  0px; /* Adjust offset as needed */
    left: 300px; /* Adjust offset as needed */
    width: 300px; /* Adjust size as needed */
    height: auto;
    z-index: 1;
}
.text {
    font-family: "Caveat Brush", cursive;
    position: absolute;
    transform: translate(200%, -200%);
    z-index: 2;
    color: white;
    font-size: 24px; /* Adjust font size as needed */

}
